
{% extends "layout.html" %}

{% block body%}
    <!--<div class="container">

      <form class="form-signin" method = "post" action="/login_val">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" name = "username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name = "password" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->-->
    <!-- modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content container">
          
          <!-- Nav tabs -->
      <ul class="nav nav-tabs row text-center bg-gray-600 text-white" role="tablist">
        <li class="nav-item col-md-6 active">
          <a class="nav-link hover:bg-gray-500" data-toggle="tab" href="#panel7" role="tab">
            Login</a>
        </li>
        <li class="nav-item col-md-6">
          <a class="nav-link hover:bg-gray-300" data-toggle="tab" href="#panel8" role="tab">
            Register</a>
        </li>
      </ul>
      
      <div class="tab-content">
        <!--Panel 7-->
        <div class="tab-pane fade in active" id="panel7" role="tabpanel">

          <!--Body-->
          <div class="modal-body container">
            <form class="loginpage">
              <div class="social-title">
                <h2 class="title text-center font-bold text-3xl my-8 text-pink-600">Login with</h2>
                
                  <div class="row block mx-auto w-3/6">
                    <a class="col-xs-4 col-md-4 col-lg-4 hover:bg-gray-200 hover:shadow-sm" href="/login_with_google"><img src="gmail.png"></a>
                    <a class="col-xs-4 col-md-4 col-lg-4 hover:bg-gray-200 hover:shadow-sm" href="#"><img src="git.png"></a>
                    <a class="col-xs-4 col-md-4 col-lg-4 hover:bg-gray-200 hover:shadow-sm" href="#"><img src="linked.png"></a>
                  </div>
                </div>
              
              <h2 class="text-center text-3xl font-bold my-5 text-pink-600">or</h2>
              <div class="row text-center text-3xl">
                <div class="username col-md-12">
                  <span class="glyphicon glyphicon-envelope text-5xl text-gray-600 mr-12"></span>
                  <input class="w-3/5 border-gray-400 border-b hover:border-pink-500 hover:border-b outline-none text-gray-600" type="text" placeholder="Enter your email" required="email">
                </div>

                <div class="passowrd col-md-12 my-4">
                  <span class="glyphicon glyphicon-lock text-5xl text-gray-600 mr-12"></span>
                  <input class="w-3/5 border-gray-400 border-b hover:border-pink-500 hover:border-b outline-none text-gray-600" type="password" placeholder="Enter your password" required="password"><br>
                  
                </div>

                
              </div>
              <div class="checkbox">
                <label class="text-gray-700">
                  <input type="checkbox" value="remember-me"><i> Remember me</i>
                </label>
              </div>
              <div class="text-right mb-8">
                <a class="text-gray-700" href="#"><i>forgot password?</i></a>
              </div>
            
            <div class="text-center">
              <button class="btn btn-success btn-lg bg-gray-700 text-white hover:bg-white hover:border hover:border-green-600 hover:text-pink-600">Log in</button>

            </div>
              <div class="modal-footer">
                <div class="text-center">
                  <p class="text-gray-700">Not a member? Sign up!</p>
                </div>
              </div>
              
            </form>
            </div>
            </div>
            <!--/.Panel 7-->

        <!--Panel 8-->
        <div class="tab-pane fade" id="panel8" role="tabpanel">
          <div class="modal-body container">
            <!-- body-->
            <form>
              <h2 class="text-center text-3xl font-bold my-8 text-pink-600">Sign up with us!</h2>
              <div class="row text-center text-3xl">
                <div class="username col-md-12">
                  <span class="glyphicon glyphicon-envelope text-gray-600 text-5xl mr-12"></span>
                  <input class="w-3/5 border-gray-400 border-b hover:border-pink-500 hover:border-b outline-none text-gray-600" type="text" placeholder="Enter email" required="">
                </div>

                <div class="passowrd col-md-12 my-4">
                  <span class="glyphicon glyphicon-lock text-gray-600 text-5xl mr-12"></span>
                  <input class="w-3/5 border-gray-400 border-b hover:border-pink-500 hover:border-b outline-none text-gray-600" type="password" placeholder="Enter password" required="">
                  
                </div>
                <div class="repeat-passowrd col-md-12 mt-4 mb-8">
                  <span class="glyphicon glyphicon-lock text-5xl text-gray-600 mr-12"></span>
                  <input class="w-3/5 border-gray-400 border-b hover:border-pink-500 hover:border-b outline-none text-gray-600" type="password" placeholder="Repeat password" required="">
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-success btn-lg bg-gray-700 text-white hover:bg-white hover:border hover:border-green-600 hover:text-pink-600">Sign up</button>
              </div>
              <div class="modal-footer">
                <div class="text-center">
                  <p class="text-gray-700">Already a member? Log in!</p>
                </div>
              </div>
            </form>
        </div>
        </div>
      </div>
      </div>
      </div>
      </div>
{% endblock %}